DATABASE_URL="postgresql://user:password@localhost:5432/db_name?schema=public"
JWT_SECRET="secret-key"
JWT_EXPIRATION="1d"
JWT_REFRESH_SECRET="refresh-secret-key"
JWT_REFRESH_EXPIRATION="7d"
PORT=3000
REDIS_HOST="localhost"
REDIS_PORT=6379
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
GOOGLE_CALLBACK_URL="http://localhost:3000/auth/google/callback"
FRONTEND_URL="http://localhost:3001"
